body {
    color: rgb(152, 92, 209);
    background-color: rgb(18, 6, 99);
    align-items: center;
    display: flex;
    flex-direction: column;
}


/* calculator should have a 1 minute delay before displaying result, hence the name calcuLATER */