
@font-face {
    font-family: bibleFont;
    src: url(./fonts/gebetbuch-fraktur/GebetbuchFraktur.ttf);
    font-weight: bold;
}


body {
    color: black;
    background-image: url(./images/confession-booth.jpg);
    background-position: center -118px;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: bibleFont;
    color: crimson;
}

.background {
    background-image: url(/images/church.jpg);
    background-position: center center;
    background-size: cover;
    height: 300px;
    width: 150px;
}

.display-container {
    font-family: bibleFont;
    font-size: x-large;
    padding: 10px;
    color: crimson;
}

.display {
    background-color:rgb(236, 226, 226);
    padding: 5px;
}

.button-container {
    padding: 15px;
}

.row {
    display: flex;
    padding: 2.5px;
    justify-content: left;
    gap: 6px;
}

button {
    font-family: bibleFont;
    font-size: x-large;
    color: crimson;
    background-color: rgb(236, 226, 226);
    transition: background-color 0.7s;
}

button:hover {
    background-color: rgb(248, 241, 108);
}


/* 
-add on hover button effects of holy light
-flash and slowly fade the screen from a yellow light when the clear button is pressed
*/