body {
    color: black;
    background-image: url(./images/confession-booth.jpg);
    background-position: center -118px;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1 {
    color: yellow;
}

.background {
    background-image: url(/images/church.jpg);
    background-position: center center;
    background-size: cover;
    height: 250px;
    width: auto;
}

.display-container {
    padding: 10px;
    font-family: 'digital-clock-font';
}

.display {
    background-color: darkgreen;
    padding: 5px;
}

.button-container {
    padding: 15px;
}

.row {
    display: flex;
    padding: 2.5px;
    justify-content: space-between;
}

button {
    background-color: darksalmon;
}